/* For the Background */
body {
    background-color: lightgray;
    color: black;
}

/* For The Tree */
.node rect {
  fill: #fff;
  stroke: black;
  stroke-width: 1.5px;
}
.node {
  font-family: sans-serif;
}
.link {
  fill: none;
  stroke: #fff;
  stroke-width: 1.5px;
}