/* For the Background */
body {
    background-color: lightgray;
    color: black;
}

/* For The Tree */
.node rect {
  fill: #fff;
  stroke-width: 3px;
}
.node {
  font-family: sans-serif;
}
.link {
  fill: none;
  stroke: white;
  stroke-width: 2px;
}